body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body form input{
    width: 15vw;
    height: 4vh;
    margin: 5px 10px;
    padding: 0px 5px;
    border-radius: 10px;
    border: 1px solid black;
}
body form{
    width: 20vw;
}
#login-btn{
    background-color: rgb(7, 1, 69);
    cursor: pointer;
    color: wheat;
    padding: 0;
    width: 15.8vw;
}
#login-btn:active{
    border: 2px solid wheat;
}